
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: Cambria, Arial;
    background-color: rgb(172, 172, 0);
}

section {
    display: block;
    align-items: center;
    justify-content: center;
   height: 5000vh;
}

form {
    font-family: Arial;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 60px;
}

form input, form textarea {
    outline: unset;
    padding: 20px;
    min-width: 500px;
    border: 3px solid cornflowerblue;
    border-radius: 20px;
    background-color:  rgb(206, 206, 206);
}

form input:focus {
    background-color: rgb(160, 194, 255);
}

form textarea:focus {
    background-color: rgb(160, 194, 255);
}

form input[type=submit] {
    background-color: rgb(160, 194, 255);
    color: white;
    cursor: pointer;
}

form label {
    margin-left: 10px;
    color: rgb(202, 202, 17);
}


